html,
body {
    background-color: #E6CDAE;
    font-family: verdana;
  }
  
  h1 {
    color: brown;
    text-align: center;
  }

  h3 {
    color: brown;
    text-align: left;
  }
  
  p {
    font-family: verdana;
    font-size: 15px;
    width:90%;
    text-align:justify;
    margin-left:1cm;
  }
  .center {
    margin-left: 20px;
    margin-right: 20px;
    width: 30%;
  }

  li {
      font-family:verdana;
      font-size:14px;
  }
  .list{
      display: inline-block;
      margin-right:50px
  }
  
